name = "pog-ultimate"
main = "src/index.ts"
compatibility_date = "2026-01-06"
compatibility_flags = [ "nodejs_compat" ]

[[rules]]
type = "Text"
globs = ["**/*.glsl", "**/*.glsl.c", "**/*.c", "**/*.jsonc"]
fallthrough = true

[[rules]]
type = "Data"
globs = ["**/*.bin", "**/*.wasm"]
fallthrough = true

[site]
bucket = "./dist/site"

[durable_objects]
bindings = [
  { name = "SESSION_AGENT", class_name = "SessionAgent" },
  { name = "COLLABORATION_SERVER", class_name = "Collaboration" },
  { name = "SESSION_DO", class_name = "SessionDO" },
  { name = "METABOLISM_DO", class_name = "MetabolismDO" }
]

[[migrations]]
tag = "v1"
new_sqlite_classes = ["SessionAgent", "Collaboration"]

[[migrations]]
tag = "v2"

[[migrations]]
tag = "v3"
new_sqlite_classes = ["SessionDO"]

[[migrations]]
tag = "v4"
new_sqlite_classes = ["MetabolismDO"]

[ai]
binding = "AI"

[[r2_buckets]]
binding = "ASSETS_BUCKET"
bucket_name = "antigravity-assets"

[[kv_namespaces]]
binding = "CACHE"
id = "3015b76d2d1b408a99066d1e793d8435"
preview_id = "3015b76d2d1b408a99066d1e793d8435"

[[kv_namespaces]]
binding = "KV"
id = "3015b76d2d1b408a99066d1e793d8435"
preview_id = "3015b76d2d1b408a99066d1e793d8435"

[[kv_namespaces]]
binding = "BRAIN"
id = "624458956eec4dbb9c927e29385cf667"
preview_id = "624458956eec4dbb9c927e29385cf667"

[[d1_databases]]
binding = "DB"
database_name = "rsc-d1"
database_id = "d021ab5b-ab13-47b8-9287-1aabebfe51df"

[[vectorize_indexes]]
binding = "VECTOR_INDEX"
index_name = "pog-memory"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
invocation_logs = true
